<!DOCTYPE html>
<head>
    <head th:replace="~{menu :: menu-head}"></head>
</head>
<body>
    <div th:replace="~{menu :: menu-list}"></div>
    <div class="div-produto" id="main">
        <div class="w3-container">
            <form class="form-cadastrar-produto" action="/produtos/criar" method="POST">
                <h2>Criar Produto</h2>
                
                <label for="productName">Nome do Produto:</label>
                <input type="text" id="productName" name="productName" placeholder="Nome do produto" required>

                <label for="productDescription">Descrição:</label>
                <input type="text" id="productDescription" name="productDescription" placeholder="Descrição do produto" required>

                <label for="productPrice">Preço:</label>
                <input type="number" id="productPrice" name="productPrice" placeholder="Preço do produto" required step="0.01">

                <label for="productCategory">Categoria:</label>
                <select id="productCategory" name="productCategory" required>
                    <option value="">Selecione uma categoria</option>
                    <option value="eletrônicos">Eletrônicos</option>
                    <option value="roupas">Roupas</option>
                    <option value="alimentos">Alimentos</option>
                    <option value="brinquedos">Brinquedos</option>
                </select>

                <button class="btn-color w3-button" type="submit">Criar Produto</button>
            </form>
        </div>
    </div>
</body>
</html>
