<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{menu :: menu-head}"></head>
<body>
    <div th:replace="~{menu :: menu-list}"></div>
    <div id="main">
        <div class="w3-container">
            <form th:action="@{/usuarios/cadastrar-usuario}" th:object="${user}" method="POST" class="form-cadastrar-usuario">
                <div>
                    <label for="newIdUser">ID do Usuário: </label>
                    <input type="text" name="idUser" id="newIdUser" th:field="*{idUser}" placeholder="Identificador do Usuário" required>
                </div>
                <div>
                    <label for="newNmUser">Nome do Usuário: </label>
                    <input type="text" name="nmUser" id="newNmUser" th:field="*{nmUser}" placeholder="Nome completo do Usuário" required>
                </div>
                <div>
                    <label for="newPassword">Senha: </label>
                    <input type="password" name="password" id="newPassword" th:field="*{dsPassword}" placeholder="Senha do usuário" required>
                </div>
                <button type="submit" class="btn-color w3-button">Cadastrar</button>
            </form>
            <div th:if="${error}" style="color: red; text-align: center;">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>
</body>
</html>
