<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{menu :: menu-head}"></head>
<body>
    <div th:replace="~{menu :: menu-list}"></div>
    <div id="main">
        <div class="w3-container">
            <div class="scroll-page">
                <h1 style="text-align: center;">Lista de Usuários</h1>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td style="text-align: center; width: 20%;" th:text="${user.idUser}"></td>
                                <td style="text-align: left; padding-left: 10px;" th:text="${user.nmUser}"></td>
                                <td style="text-align: center; width: 10%;" th:text="${user.snActive == 'S' ? 'ATIVO' : 'INATIVO'}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 2%; justify-content:flex-end; display: flex;">
                    <button class="w3-button w3-blue" th:onclick="|location.href='@{/usuarios/cadastrar-usuario}'|">Cadastrar Usuário</button>
                </div>
                <div style="margin-top: 2%; justify-content:flex-end; display: flex;">
                    <button class="w3-button w3-blue" th:onclick="|location.href='@{/usuarios/cadastrar-usuario}'|">Cadastrar Usuário</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
