<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menu-head">
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 </head>
<body>
  <div th:fragment="menu-list">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; background-color: #114174ba; color: white;" id="mySidebar">
      <a class="w3-bar-item w3-button btn-color-sidebar" th:href="@{/produto}">Produto</a>
      <a class="w3-bar-item w3-button btn-color-sidebar" th:href="@{/usuarios}">Lista de Usúario</a>
      <a class="w3-bar-item w3-button btn-color-sidebar" th:href="@{/usuarios/cadastrar-usuario}">Cadastro de Usúario</a>
    </div>
    <div class="menu-top">
      <button id="openNav" class="w3-button w3-xlarge">&#9776;</button>
      <button id="closeSession" class="right w3-button w3-xlarge fas fa-sign-out-alt" th:onclick="|location.href='@{/logout}'|"></button>
    </div>
    <script th:src="@{/js/menu/script.js}"></script>
  </div>
  <div th:object="${messageInfo}" th:if="${messageInfo}" th:class="${messageInfo.isError ? 'error-message-global' : 'success-message-global'}" th:fragment="message-info">
    <p th:text="*{messageReturn}"></p>
  </div>
</body>
</html>
