<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body-login" th:style="'background-image: url(' + @{/img/login/background.jpg} + ')'">
	<form class="form-login" th:action="@{/login}" th:object="${user}" method="POST">
		<div class="center-text-bold">
			<p>Login ao sistema</p>
		</div>
		<div class="div-login">
			<label for="userInput" id="userLabel" class="label-margin-right bold-text">Usuário:</label>
			<input id="userInput" name="username" type="text" th:field="*{idUser}"  placeholder="Informe seu Usuário" required>
		</div>
		<div  class="div-login">
			<label for="passInput" id="userLabel" class="label-margin-right bold-text">Senha:</label>
			<input id="passInput" name="password" type="password" th:field="*{dsPassword}" placeholder="Informe sua Senha" required>
		</div>
		<div  class="div-login">
			<input type="submit" value="Entrar">
		</div>
		<div class="div-login" th:if="${error}" style="color:red;">
			<p th:text="${error}"></p>
		</div> 
	</form>	
</body>
</html>
