<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body-login">
    <div class="container">
        <form class="form-login" th:action="@{/login}" th:object="${user}" method="POST">
            <h2>Login ao sistema</h2>
            <div class="div-login">
                <label for="userInput" class="label-text">Usuário:</label>
                <input id="userInput" name="username" type="text" th:field="*{idUser}" placeholder="Informe seu Usuário" required>
            </div>
            <div class="div-login">
                <label for="passInput" class="label-text">Senha:</label>
                <input id="passInput" name="password" type="password" th:field="*{dsPassword}" placeholder="Informe sua Senha" required>
            </div>
            <div class="div-login">
                <input type="submit" value="Entrar" class="btn-submit">
            </div>
            <div class="div-login error-message" th:if="${error}">
                <p th:text="${error}"></p>
            </div>
        </form>	
    </div>
</body>
</html>
